.formStyles{
    width: 50%;
    position: relative;
    top: 13rem;
    margin:0 auto 0;
    
    padding: 1rem;
    
}
.upLoadForm{
    display: flex;
}
.margin{
    margin-top: 1rem;
}
.upLoadH5{
   
   margin-left: 27%;
}

.upLoadButton2{
    margin-left: 45%;
}

.upLoadButton{
   
   margin-left: 45%;
}



@media(max-width:850px){
    
    .formStyles{
        width: 100%;
        
        display: flex;
        flex-direction: column;
       align-items: center;
    }
      .upLoadForm{
        display: flex
      }
   
    .upLoadButton{
        margin-left: 38%;
      
    }
    .upLoadH5{
        margin: 0 auto 0;
    }

    .upLoadButton2{
        margin-left: 0% !important;
        margin-right: 0% !important;
        
    }
}