.repositoryContainer{
    width: 60%;
    margin:0 auto 0;
   
}

.repositoryLink{   
    margin-top: 3rem;
    margin-bottom: 5rem;
    
  
    display: flex;
    justify-content: center;

}

.repoButton{
    margin: 0 auto 0;
    text-transform: uppercase;
    font-size: 1.0rem !important;
    font-weight: bold !important;
}

.margin{
    margin-top: 2rem;
}

.justify{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.repositoryLink2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    
  
    display: flex;
    justify-content: center;
}

.reposirySend{
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-size: 1.0rem !important;
    font-weight: bold !important;
}

.repoBack{
    text-transform: uppercase;
    font-size: 1.0rem !important;
    font-weight: bold !important;
}

.repositoryLabel{
    font-style: italic;
}