.divInput{
    margin-top: 2rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-top: 20%;
    
}

.h5Resume{
    text-align: center;
}

@media(max-width:850px){
    .divInput{
        
        width: 94%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:3%;
        margin-top: 70%;
    }
    h5{
        width: 92%;
        margin-left:4%;
    }
    .form{
        margin-top: 1rem;
    }
}

