.canvasDiv{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.canvas{
    width:50%;
    height: 50%;

}    

@media (max-width: 850px) {
    .canvas{
        width: 100%;
        height: 100%;
    }  
    .h5Canvas{
        display: flex;
        justify-items: center;
        width: 25%!important;
        
        }
   
}  

.h5Canvas{
    text-transform: uppercase ;
    font-size: 0.8rem ;
    font-weight: bold;
    }

.h5Div{
    
    display: flex;
    justify-content: center;
    width: 100%;
}



.h5Div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.canvas1{
    position: absolute;
    visibility:hidden;
}

.canvas2{
    
    margin: 0 auto 0;
   
}

