.ulNav{
    padding: 0;
    list-style-type: none;
    display: flex;
    margin:0 auto 0;
}

.liNav{
    padding: 0px 4px 0px 0px ;
}

.headerNav{
    margin: 0 auto 0;
    padding: 0;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bd-highlight{
    margin:0px
}
.nav{
    height: 15%;
}

.col{
    margin-top: 1rem;
}

.block{
    display: block;
}

@media (max-width: 850px) {
    
    .btn-nav{
        width:99%;
    }
    .ulNav{
        list-style: none;
        display: flex;
        flex-direction: column; 
    }
    .liNav{
        margin-top: .4rem;
    }

    .headerNav{
    margin: 0 auto 0;
    padding: 0;
    width: 100%;
    padding:0;
    }

    
}

.repositoryNav{
    display:flex;
    justify-content: space-between;
}

.divSelect{
    width: 30% !important;
}

.divLnks{
    width: 100% !important;
}

.try{
    height: 20px;
}

.navBar{
    padding-bottom: 1.5rem;
}

.prueba{
    color: blanchedalmond;
}

.navContainer{
    padding: 0px;
}



